body.custom-user {
    font-family: 'Omnes-Regular';
}
body.custom-user .btn {
    font-family: 'Omnes-Semibold';
}
body.custom-user #wpadminbar {
    height: 38px;
}
body.custom-user #wpadminbar * {
    line-height: 38px;
}
.entry-summary .tour-city,
.custom-user #menu-posts-ts_tour,
.custom-user #tourstops-list_length,
.custom-user #entries-list_length,
.custom-user #wp-admin-bar-gform-forms,
.custom-user #screen-meta-links,
.custom-user #screen-meta,
.custom-user.users-php .subsubsub li.all,
.custom-user.users-php .subsubsub li.administrator,
.custom-user .row-actions span.view,
.custom-user #message a,
.custom-user .user-first-name-wrap,
.custom-user .user-last-name-wrap,
.custom-user .user-url-wrap,
.custom-user .user-display-name-wrap,
.custom-user .user-nickname-wrap,
.custom-user #toplevel_page_ts-entry-pay-invoice{
    display: none;
}
#profile-page h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 0;
}
#profile-page h3 {
    font-size: 17px;
    font-weight: bold;
    margin: 25px 0 0;
}
#wp-admin-bar-site-logo a {
    background: transparent !important;
    display: block !important;
    width: 146px;
    line-height: 38px !important;
    height: 38px !important;
    vertical-align: middle;
}
#wp-admin-bar-site-logo img {
    max-height: 88%;
}
#tourstops-list tr:hover {
    background-color: #ccc;
}
.custom-user table .btn {
    padding: 5px 15px !important;
}
.ts-admin-wrapper {
    margin-bottom: 50px;
}
.custom-user h1.admin-page-title,
.custom-user h2.admin-sub-title {
    font-family: "Oswald", sans-serif;
}
h1.admin-page-title {
    font-size: 24px !important;
    text-transform: uppercase;
    font-weight: 900 !important;
    padding: 20px 20px 25px 0 !important;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px !important;
}
h2.admin-sub-title {
    font-size: 20px !important;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-top: 25px;
}
.new-registration-form {
    padding: 30px 20px;
    border: 1px solid #e9e9e9;
}
.new-registration-form select {
    height: 40px;
    min-width: 280px;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
.new-registration-form button {
    padding: 14px 40px !important;
    letter-spacing: 1px;
    font-size: 18px !important;
}
table.dataTable thead th {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9e9;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
    background-image: none !important;
}
table.dataTable .dataTables_length {
    display: none;
}
table.dataTable tfoot {
    position: absolute;
    top: -13px;
    left: -18px;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
    border-top: 0;
    padding: 10px 18px 10px 18px;
    width: 180px;
}
table.dataTable tfoot th select,
table.dataTable tfoot td select {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    font-size: 13px;
    padding: 3px 15px;
    width: 100%;
    color: #484848;
    background-color: #fcfcfc;
    box-shadow: none;
    margin-right: 10px;
    height: 28px;
    line-height: 28px;
}
.dataTables_wrapper .dataTables_filter input[type="search"] {
    width: 350px;
}
.dataTables_wrapper .dt-buttons {
    float: right;
}
.dataTables_wrapper .dt-buttons .buttons-csv,
.dataTables_wrapper .dt-buttons .buttons-copy {
    display: none;
}
tr.acf-field[data-name="invitees"],
tr.acf-field[data-name="email"] {
    display: none;
}
.row-pad {
    padding: 0 12px;
}
#view-entry-page .entry-status {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
#view-entry-page .table-container {
    margin: 0 12px;
}
.admin-page-title .btn {
    margin: -7px 0 0 10px;
}
#popup-save-tour .modal-dialog,
#popup-save-voucher .modal-dialog,
#popup-create-invoice .modal-dialog,
#popup-save-music-info .modal-dialog {
    max-width: 360px;
}
.ts-entry-invoice input,
.ts-entry-invoice textarea{
    margin-bottom: 15px;
}
#adminmenu [class*="menu-icon"],
#adminmenu .wp-submenu li.wp-first-item {
    display: none !important;
}
.ts-admin-wrapper .acf-form-fields > .acf-field {
    border-top: 0;
}
.acf-input-wrap input[type="text"] {
    max-width: none;
}
.btn-addvoucher {
   margin: -7px 0 0 10px;
}
.agediv-sep td {
    background-color: #f9f9f9;
    text-transform: uppercase;
}
#minor-publishing {
    display: none;
}
.score_settings .acf-actions,
.score_settings .acf-js-tooltip,
.score_settings [data-name="event_city"],
.score_settings [data-name="score"]{
    display: none !important;
}

.display-individual-day-awards {
    text-align: center;
}

.display-individual-day-awards .ui-state-active,
.display-individual-day-awards .ui-widget-content .ui-state-active,
.display-individual-day-awards .ui-widget-header .ui-state-active,
.display-individual-day-awards a.ui-button:active, .ui-button:active,
.display-individual-day-awards .ui-button.ui-state-active:hover,
.display-individual-day-awards .ui-button.ui-state-active:focus,
.display-individual-day-awards .ui-state-default:focus{
    border: none;
    background: none;
    font-weight: normal;
    outline:none;
}

.display-individual-day-awards .ui-widget.ui-widget-content {
    border: 0px;
    background: #fff !important;
}

.display-individual-day-awards ul.TabList {
    padding: 0 0 0 0px !important;
    border-bottom: 1px solid #babbbe;
    box-sizing: border-box;
    background: #fff;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.display-individual-day-awards ul.TabList li a {
    display: block;
    font-size: 14px;
    color: #a3a3a3;
    text-decoration: none !important;
    padding: 12px 25px !important;
    border-radius: 6px 6px 0 0;
    border: 1px solid #babbbe;
    font-family: 'Omnes-Semibold';
    margin-bottom: -1px;
    outline:none;
    box-shadow: none;
}

.display-individual-day-awards .ui-state-default,
.display-individual-day-awards .ui-widget-content .ui-state-default,
.display-individual-day-awards .ui-widget-header .ui-state-default,
.display-individual-day-awards .ui-button,
html .display-individual-day-awards .ui-button.ui-state-disabled:hover,
html .display-individual-day-awards .ui-button.ui-state-disabled:active {
    border: none;
    background: #fff;
}

.display-individual-day-awards ul.TabList li:hover a,
.display-individual-day-awards ul.TabList li.ui-state-active a {
    color: #000;
    border-bottom: 1px solid #fff;
}

.display-individual-day-awards .ui-tabs .ui-tabs-panel {
    padding: 0px;
}

.display-individual-day-awards .Results h3 {
    font-size: 20px;
    margin: 40px 0 0px;
    text-align: left;
    font-family: 'Omnes-Semibold';
}

.Results .RowHeading > div {
    float: left;
    width: 20%;
}

.display-individual-day-awards + .display-individual-day-awards {
    margin-top: 60px;
}

.Results .TableBody > .clearfix > div {
    border-right: 0 !important;
    width: 20%;
}

.Results .ThreeCol .TableBody > .clearfix > div {
    width: 33.33333333% !important;
}

.Results .ThreeCol .RowHeading > div {
    width: 33.33333333%;
}
.ts-data-table .btn {
    min-width: 36px;
}
.ts-data-table span.btn {
    font-size: 11px !important;
}
#schedules-list .btn {
    min-width: 52px;
}
.mysched-heading {
    font-size: 32px !important;
    font-family: 'Omnes-Bold';
}
.results-wrapper .table-container,
#form-special-awards .table-container {
    padding: 0 15px;
    max-width: 960px;
    margin-bottom: 40px;
}
#form-special-awards .table-body .row {
    padding: 10px 0;
}
.scholarship-wrapper .btn-addscholarship {
    margin-top: 20px;
}
.scholarship-wrapper select {
    width: 100%;
}
