.t-center {text-align: center;}
.table-pad {padding: 0 15px;}
.table-container .row {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px 0;
}
.table-container .row:first-child {
    border-top: 1px solid #ccc;
}
.table-container .row:last-child {
    border-bottom: 1px solid #ccc;
}
.table-head {
    background-color: #ccc;
    padding: 8px 0;
}
.table-body .row:nth-child(even) {
    background-color: #f9f9f9;
}
.ts-tabs {
    margin-bottom: 30px;
}
.category-container.ts-tabs {
    min-height: 400px;
}
.category-container .col-md-6:nth-child(odd) {
    clear: both;
}

/* Schedule */
.SchedTable {
    margin: 45px 0 0;
    font-family: 'Omnes-Semibold';
    font-size: 14px;
    color: #000;
    background-image: url(img/TableBg.png);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
    border-radius: 16px;
    border: 3px solid #cecece;
}
.TableHeading {
    font-size: 14px;
    color: #fff;
    background: #3d3d3d;
    padding: 20px 30px;
    text-transform: uppercase;
    font-family: 'Omnes-Semibold';
    border-radius: 14px 14px 0 0;
}
.CompetitionSched .SchedTable {
    font-family: 'Omnes-Medium';
}

.TableBody > .clearfix {
    border-bottom: 1px solid #d2d1d1;
}

.TableBody > .clearfix:last-child {
    border-bottom: 0;
}

.TableBody > .clearfix > div {
    border-right: 1px solid #d2d1d1 !important;
    width: 14.5%;
    padding: 6px 6px;
    float: left;
}

.SampleSched .SchedTable {
    font-size: 14px;
    text-align: center;
    margin-right: 30px;
    overflow: hidden;
}
.modal-dialog .SampleSched .SchedTable {
    margin-right: 0;
}
.SampleSched h1 {
    margin-top: 30px;
}

.TableBody > .clearfix > div:last-child {
    border-right: none !important;
}

.TableBody > .clearfix.Col_1_5 > div:nth-child(2) {
    border-right: none !important;
}

.TableBody > .clearfix > div i {
    float: right;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    margin-right: -10px;
    padding: 10px 0px;
    border-left: 1px solid #d2d1d1 !important;
    display: none;
    width: 56%;
    margin-left: 2%;
    background: #f5f5f5;
    font-size: 15px;
}

.TableBody > .clearfix > div:last-child {
    border-right: none !important;
}

.TableBody > .clearfix > div:first-child {
    width: 20%;
}

.TableBody > .clearfix > div:last-child {
    width: 22%;
}

.RowHeading {
    text-transform: uppercase;
}

.TourStopsInner .RowHeading, .SampleSched .RowHeading {
    background: #fff;
}

.TableBody .Highlighted {
    background: #f5f5f5;
}

.TableBody .Col_1_5 > div:nth-child(2) {
    width: 80% !important;
    text-transform: uppercase;
    color: #6d6d6d;
}

.TableBody .Col_1_5 > div:nth-child(3),
.TableBody .Col_1_5 > div:nth-child(4),
.TableBody .Col_1_5 > div:nth-child(5),
.TableBody .Col_1_5 > div:nth-child(6) {
    display: none !important;
}
.Col_1_2_1_1_1 > div:nth-child(2),
.Col_1_2_2_1 > div:nth-child(2), 
.Col_1_2_2_1 > div:nth-child(4) {
    width: 29% !important;
}

.Row_2.Col_1_2_2_1 > div {
    font-family: 'Omnes-Bold';
}

.Col_1_2_1_1_1 > div:nth-child(3),
.Col_1_2_2_1 > div:nth-child(3),
.Col_1_2_2_1 > div:nth-child(5),
.Col_1_4_1 > div:nth-child(3),
.Col_1_4_1 > div:nth-child(4),
.Col_1_4_1 > div:nth-child(5) {
    display: none !important;
}

.Col_1_4_1 > div:nth-child(2) {
    width: 58%;
    color: #6d6d6d;
    text-transform: uppercase;
}

.CompetitionSched .TableBody > .clearfix > div {
    width: 12%;
}

.CompetitionSched .TableBody > .clearfix > div:nth-child(1) {
    width: 8%;
    font-family: 'Omnes-Semibold';
}

.CompetitionSched .TableBody > .clearfix > div:nth-child(3) {
    width: 22%;
}

.CompetitionSched .TableBody > .clearfix > div:nth-child(4) {
    width: 20%;
}

.CompetitionSched .RowHeading {
    background: #f5f5f5;
    font-family: 'Omnes-Semibold';
}

.CompetitionSched .TableBody .Col_1 > div {
    display: none;
}

.CompetitionSched .TableBody .Col_1 > div:first-child {
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: #3d3d3d;
}

.CompetitionSched .DownloadSched {
    display: block;
    width: 235px;
    height: 46px;
    background-image: url(img/DownloadSchedBtnSmall.png);
    margin-top: -4px;
}

.CompetitionSched .HeaderLinks {
    padding-top: 20px;
}

.CompetitionSched .HeaderLinks .pull-right {
    margin-top: -20px;
}
.SampleSched .SchedTable {
    margin-top: 15px;
    margin-bottom: 30px;    
}
.SchedTable .highlighted-row {
    background-color: #fff6ba;
}
.highlight-red {
    background-color: #e2bdc3
}
.highlight-red span {
    padding: 10px;
    display: block;
}